h2{
  text-align: center;
}

.layer{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.in{
  width:70%;
}

.inDiv{
  margin-left:20%;
  margin-right:20%;
}

.section {
  border:4px solid grey;
  border-radius:15px;
  box-shadow: 5px 5px 5px grey;
  height:360px;
  float: left;
  padding: 20px;
  margin:10px;
}

hr{
  margin-top: 30px;
}

#plotSettings {
  width:160px;
}

#plot {
  width:550px;
}
